html {
  background-image: url("../images/goal.jpeg");
  background-position: center;
  min-height: 100%;
  text-align: center;
}
body {
  background-color: transparent;
}
.image {
	max-height: 100%;
	width: 100%;
}
.container-fluid {
  margin: 6em auto;
}
.begin {
  margin: 8em auto -10em;
}
.quiz,
.items,
.final {
  display: none;
}
.quiz,
.submit {
  margin: 1em auto;
}
.final {
  margin: -6em 0;
}
.end {
  margin: 1em auto 0;
  padding: 1em 0;
}
.again {
  margin: 7.3em 0 -2em;
}
.table {
  margin: 0 auto;
  width: 50%;
}
input[type=radio],
label {
  margin: 0;
}
.label,
button {
  font-weight: inherit;
}
span {
  margin: auto 1em;
}
.jumbotron,
.items > .results,
.panel,
.panel-default > .panel-heading,
.panel-footer,
.progress {
  background: transparent;
}
.panel,
.panel-default > .panel-heading,
.panel-footer,
.panel-success > .panel-heading,
.table > tbody > tr > td {
  border-color: transparent;
}
.panel > .table-responsive {
  width: 100%;
  margin: 0 auto;
}
.panel,
.jumbotron p,
.outside {
  margin: 0 auto;
}
.table > tbody > tr > td {
  padding: 8px;
  vertical-align: middle;
}
.jumbotron p {
  font-weight: 400;
}
.head,
.items > .results {
  color: inherit;
}
.outside {
  width: 200px;
}
.inside,
.image {
  position: relative;
}
.image,
.canvas {
  left: 0;
  top: 0;
}
.canvas {
  opacity: 0.7;
  position: absolute;
}
.jumbotron p > .query {
  margin-top: 0.5em;
}
.bubble {
  float: left;
  margin-right: 1em;
}
.text {
  text-align: center;
  float: left;
  width: 80%;
}
@media (max-width: 543px) {
  .jumbotron h1 {
    font-size: 2.75em !important;
  }
  .table {
    width: 100%;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 3em !important;
  }
  .table {
    width: 75%;
  }
  .text {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron h1 {
    font-size: 3.25em !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron h1 {
    font-size: 3.75em !important;
  }
  .panel > .table-responsive {
    width: 80%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
   .jumbotron h1 {
    font-size: 4em;
  }
  .panel > .table-responsive {
    width: 65%;
  }
  .text {
    width: 81%;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .jumbotron h1 {
    font-size: 4em;
  }
  .panel > .table-responsive {
    width: 65%;
  }
  .text {
    width: 82%;
  }
}
@media (min-width: 1600px) {
  .jumbotron h1 {
    font-size: 4em;
  }
  .panel > .table-responsive {
    width: 65%;
  }
  .table {
    width: 45%;
  }
  .text {
    width: 83%;
  }
}
