body {
	background-image: url("../images/goal.jpg");
	/*background-size: cover;*/
	background-position: center;
	height: 360px;
	text-align: center;
}

.question-one {
	background-image: url("../images/london.jpg");
}

.question-two {
	background-image: url("../images/derby.jpg");
}

#start,
#content {
	margin: 6em 0;
}
#content, #quiz, #final {
	display: none;
}

#space {
	padding: 1em 0;
}

#center {
	display: inline-block;
  height: 30px;
  margin-left: 3px;
}

#final {
	margin: -6em 0;
}
