body {
	background-image: url("../images/goal.jpeg");
	/*background-size: cover;*/
	background-position: center;
	height: 360px;
	width: 100%;
	text-align: center;
}

#start,
#content {
	margin: 6em 0;
}

#space {
	padding: 1em 0;
}

#center {
	display: inline-block;
    height: 30px;
    margin-left: 3px;
}

#final {
	margin: -6em 0;
}
